# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# If you come from bash you might have to change your $PATH.
export PATH=$PATH:$HOME/.local/bin:$HOME/bin:/usr/local/bin

# Path to your oh-my-zsh installation.
export ZSH="${HOME}/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in $ZSH/themes/
# If set to an empty array, this variable will have no effect.
# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to automatically update without prompting.
# DISABLE_UPDATE_PROMPT="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# Caution: this setting can cause issues with multiline prompts (zsh 5.7.1 and newer seem to work)
# See https://github.com/ohmyzsh/ohmyzsh/issues/5765
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# NVM directory
export NVM_DIR="$HOME/.local/opt/nvm"

# Default Node version loaded quickly.
{% if actual_node_version.stdout | regex_search('^v[0-9]*\.[0-9]*\.[0-9]*') %}
export SNV='{{ actual_node_version.stdout }}'
{% endif %}

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
    zsh-lazyload
    git
    docker
    colorize
    helm
    rvm
    dotenv
    colored-man-pages
    dirhistory
    fzf
    fzf-tab
    fzf-tab-source
    zsh-autosuggestions
    zsh-sdkman
    zsh-syntax-highlighting
    you-should-use
    k
    zoxide
    pyenv-lazy
    jq
    kubectl
{% if actual_node_version.stdout | regex_search('^v[0-9]*\.[0-9]*\.[0-9]*') %}
    zsh-snv
{% endif %}
)

source $ZSH/oh-my-zsh.sh

# Load NVM, but use lazyload (save ~2s startup time)
# Node is preloaded by `zsh-snv` plugin in version set by `SNV` variable above.
lazyload nvm -- "source '${NVM_DIR}/nvm.sh'"

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

### Colorize
ZSH_COLORIZE_TOOL=chroma

### The FUCK
# lazyload fuck -- "eval $(thefuck --alias)"
# bindkey -s '\e\e' 'fuck\n'

### Fuzzy Finder

# Setup fzf
if [[ ! "$PATH" == *$HOME/.fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}${HOME}/.fzf/bin"
fi

# Auto-completion
[[ $- == *i* ]] && source "${HOME}/.fzf/shell/completion.zsh" 2> /dev/null

# Key bindings
source "${HOME}/.fzf/shell/key-bindings.zsh"

# use bat as preview tool
export FZF_PREVIEW_COMMAND='{{ bat_bin_name }} --style numbers,changes --color always --line-range :500 {}'
# change default options
export FZF_DEFAULT_OPTS='--height 100% --layout=reverse --border --ansi'

# add alias for finding files with auto-preview ((b)etter find)
alias bfind="fzf --preview '$FZF_PREVIEW_COMMAND' --bind shift-up:preview-page-up,shift-down:preview-page-down"
# edit file found with bfind
alias vimfind="vim \$(bfind)"
# add alias for (b)etter tail
btail() {
    tail -f $1 | {{ bat_bin_name }} --paging=never -l log
}
# cat alias
alias cat={{ bat_bin_name }}

# disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false
# set descriptions format to enable group support
zstyle ':completion:*:descriptions' format '[%d]'
# set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}

# Below fzf-git-* functions are based (with slight modifications) on this blog entry: https://polothy.github.io/post/2019-08-19-fzf-git-checkout/
# browse git branches using fzf
fzf-git-branch() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    git branch --color=always --all --sort=-committerdate |
        grep -v HEAD |
        fzf --height 50% --ansi --no-multi --preview-window right:65% \
            --preview 'git log -n 50 --color=always --date=short --pretty="format:%C(auto)%cd %h%d %s" $(sed "s/.* //" <<< {})' |
        sed "s/.* //"
}

# git checkout using fzf
fzf-git-checkout() {
    local branch

    # if we pass a parameter, set it as branch to checkout
    if [[ -n $1 ]]; then
        branch=$1
    else
        git rev-parse HEAD > /dev/null 2>&1 || return
        branch=$(fzf-git-branch)
    fi

    if [[ "$branch" = "" ]]; then
        echo "No branch selected."
        return
    fi

    # If branch name starts with 'remotes/' then it is a remote branch. By
    # using --track and a remote branch name, it is the same as:
    # git checkout -b branchName --track origin/branchName
    if [[ "$branch" = 'remotes/'* ]]; then
        branch_local="${branch#remotes/origin/}"
        echo "$branch_local"
        if [[ ! -z $(git branch | grep -E "[*]?${branch_local}$") ]]; then # we have this branch locally, just checkout
            git checkout $branch_local
        else
            git checkout --track $branch
        fi
    else
        git checkout $branch;
    fi
}

alias gb='fzf-git-branch'
alias gco='fzf-git-checkout' # usage: `gco` for search window or `gco <branch_name>` for particular branch

# Git-fuzzy
export PATH="$HOME/.local/opt/git-fuzzy/bin:$PATH"
alias glo='git-fuzzy log'
alias gd='git-fuzzy diff'
alias gst='git-fuzzy status'

# SSH/TMUX - show SSH host name as window name
ssh() {
    if [ "$(ps -p $(ps -p $$ -o ppid=) -o comm=)" = "tmux: server" ]; then
        tmux rename-window "$(echo $*)"
        #tmux rename-window "$(echo $* | cut -d . -f 1)"
        TERM=xterm-256color command ssh "$@"
        tmux set-window-option automatic-rename "on" 1>/dev/null
    else
        command ssh "$@"
    fi
}

# FZF-TAB config
source $HOME/.oh-my-zsh/custom/plugins/fzf-tab/fzf-tab.plugin.zsh
zstyle ':completion:*:git-checkout:*' sort false                              # disable sort when completing `git checkout`
zstyle ':completion:*:descriptions' format '[%d]'                             # set descriptions format to enable group support
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}                         # set list-colors to enable filename colorizing
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'exa -1 --color=always $realpath' # preview directory's content with exa when completing cd
zstyle ':fzf-tab:*' switch-group ',' '.'                                      # switch group using `,` and `.`

# Easy load TMUX sessions from tmuxp
export DISABLE_AUTO_TITLE='true'
lp() {
  IFS=$'\n' session=$(ls -1b ${HOME}/.tmuxp/ | sed -E 's~\.yaml~~' | fzf-tmux --cycle --exit-0 -p'40%' --border --border-label="╢ TMUX projects/sessions ╟")
  [[ -n "$session" ]] && tmuxp load "${HOME}/.tmuxp/${session}.yaml"
}

### Other exports
export NVIM_APPNAME='{{ neovim_config_appname }}'
export EDITOR='nvim'
alias vim=nvim
alias nvim=nvim
alias vimdiff='nvim -d'
alias top=htop
export MANPAGER="sh -c 'col -bx | {{ bat_bin_name }} -l man -p'"
export ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=ignore

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Cargo
. "$HOME/.cargo/env"

# Go version manager
. "${HOME}/.gvm/scripts/gvm"

# RVM
# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*
