---
{% if used_software_versions is defined and used_software_versions | length -%}
# `software` role versions
versions:
  {% for app, version in used_software_versions.items() %}
{{ app -}}: {{ version }}
  {% endfor %}
{% else %}
# INFO: `used_software_versions` variable not found or empty. Probably `software` role not included.
{% endif %}

{% if used_dev_versions is defined and used_dev_versions | length %}
# `dev` role versions
  {% for app, version in used_dev_versions.items() %}
{{ app -}}: {{ version }}
  {% endfor -%}
{% else %}
# INFO: `used_dev_versions` variable not found or empty. Probably `dev` role not included.
{% endif -%}
