# Fuzzy finder
# Source: https://github.com/junegunn/fzf
---
- name: "[fzf] Get Github URL for proper version"
  vars:
    app: fzf
    repo: junegunn
    version_query: curl -s https://api.github.com/repos/junegunn/fzf/releases/latest | jq .name -r
  ansible.builtin.include_role:
    name: common
    tasks_from: github_version.yml
    apply:
      tags:
        - versions
  tags:
    - versions

- name: "[fzf] Clone/checkout version {{ fzf_version }}"
  ansible.builtin.git:
    repo: "{{ fzf_git_url }}"
    dest: "{{ fzf_home }}"
    update: true
    version: "v{{ fzf_version }}"
  notify: "[FZF] Run install script"

- name: "[fzf] Save used version"
  vars:
    app: fzf
    target_version:
      github_packages:
        fzf: "v{{ fzf_version }}"
    query: '.github_packages.fzf = "v{{ fzf_version }}"'
  ansible.builtin.include_role:
    name: common
    tasks_from: save_version.yml
    apply:
      tags:
        - versions
  tags:
    - versions

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
