# Install LazyGIT
# Source: https://github.com/jesseduffield/lazygit
---
- name: "[LazyGIT] Get Github URL for proper version"
  vars:
    app: lazygit
    repo: jesseduffield/lazygit
    version_query: curl -s https://api.github.com/repos/jesseduffield/lazygit/releases/latest | grep '"tag_name":' |  sed -E 's/.*"v*([^"]+)".*/\1/'
    artifact_uri: lazygit_{{ lazygit_version }}_Linux_x86_64.tar.gz
  ansible.builtin.import_role:
    name: common
    tasks_from: github_version.yml
  tags:
    - versions

- name: "[LazyGIT] Check if LazyGIT {{ lazygit_version }} is installed"
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.local/opt/lazygit-{{ lazygit_version }}"
  register: lazygit_dir

- name: "Installation"
  when: not lazygit_dir.stat.exists
  block:
    - name: "[LazyGIT] Download LazyGIT {{ lazygit_version }}"
      ansible.builtin.get_url:
        url: "{{ lazygit_url }}"
        dest: "/tmp/lazygit-{{ lazygit_version }}.tar.gz"
        mode: '0755'

    - name: "[LazyGIT] Create directory in {{ ansible_env.HOME }}/.local/opt"
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.local/opt/lazygit-{{ lazygit_version }}"
        state: directory
        mode: '0755'

    - name: "[LazyGIT] Untar archive"
      ansible.builtin.unarchive:
        src: "/tmp/lazygit-{{ lazygit_version }}.tar.gz"
        dest: "{{ ansible_env.HOME }}/.local/opt/lazygit-{{ lazygit_version }}"

    - name: "[LazyGIT] Cleanup tar.gz file"
      ansible.builtin.file:
        path: "/tmp/lazygit-{{ lazygit_version }}.tar.gz"
        state: absent

- name: "[LazyGIT] Link {{ lazygit_version }} binary"
  ansible.builtin.file:
    src: "{{ ansible_env.HOME }}/.local/opt/lazygit-{{ lazygit_version }}/lazygit"
    dest: "{{ ansible_env.HOME }}/.local/bin/lazygit"
    state: link
    force: true

- name: "[LazyGIT] Save used version"
  vars:
    app: lazygit
    target_version:
      github_packages:
        lazygit: "{{ lazygit_version }}"
    query: ".github_packages.lazygit = \"{{ lazygit_version }}\""
  ansible.builtin.import_role:
    name: common
    tasks_from: save_version.yml
  tags:
    - versions
