# Zoxide installation
# For usage see README.md
#
# Source: https://github.com/ajeetdsouza/zoxide
---
- name: "[Zoxide] Get Github URL for proper version"
  vars:
    app: zoxide
    repo: ajeetdsouza/zoxide
    version_query: curl -s https://api.github.com/repos/ajeetdsouza/zoxide/releases/latest | jq .name -r | cut -f2 -d'v'
    artifact_uri: "v{{ zoxide_version }}/zoxide-{{ zoxide_version }}-x86_64-unknown-linux-musl.tar.gz"
  ansible.builtin.import_role:
    name: common
    tasks_from: github_version.yml
  tags:
    - versions

- name: "[Zoxide] Check if Zoxide {{ zoxide_version }} is installed"
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.local/opt/zoxide-{{ zoxide_version }}"
  register: zoxide_dir

- name: "Installation"
  when: not zoxide_dir.stat.exists
  block:
    - name: "[Zoxide] Download Zoxide {{ zoxide_version }}"
      ansible.builtin.get_url:
        url: "{{ zoxide_url }}"
        dest: "/tmp/zoxide-{{ zoxide_version }}.tar.gz"
        mode: '0755'

    - name: "[Zoxide] Create directory in {{ ansible_env.HOME }}/.local/opt"
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.local/opt/zoxide-{{ zoxide_version }}"
        state: directory
        mode: '0755'

    - name: "[Zoxide] Untar archive"
      ansible.builtin.unarchive:
        src: "/tmp/zoxide-{{ zoxide_version }}.tar.gz"
        dest: "{{ ansible_env.HOME }}/.local/opt/zoxide-{{ zoxide_version }}"

    - name: "[Zoxide] Cleanup tar.gz file"
      ansible.builtin.file:
        path: "/tmp/zoxide-{{ zoxide_version }}.tar.gz"
        state: absent

- name: "[Zoxide] Link {{ zoxide_version }} binary"
  ansible.builtin.file:
    src: "{{ ansible_env.HOME }}/.local/opt/zoxide-{{ zoxide_version }}/zoxide"
    dest: "{{ ansible_env.HOME }}/.local/bin/zoxide"
    state: link
    force: true

- name: "[Zoxide] Save used version"
  vars:
    app: zoxide
    target_version:
      github_packages:
        zoxide: "{{ zoxide_version }}"
    query: ".github_packages.zoxide = \"{{ zoxide_version }}\""
  ansible.builtin.import_role:
    name: common
    tasks_from: save_version.yml
  tags:
    - versions
