# Installs:
#  - ZSH shell
#  - oh-my-zsh plugin (https://ohmyz.sh/ | https://github.com/ohmyzsh/ohmyzsh/)
#  - Powerlevel10k theme
#  - custom plugins (see README.md for full list and usages)
---
- name: '[Zsh] Install Zsh and friends'
  become: true
  become_user: root
  ansible.builtin.package:
    name: "{{ item }}"
  with_items:
    - git-core
    - powerline
    - zsh

- name: '[Zsh] Check current default shell'
  become: true
  become_user: root
  ansible.builtin.command: sh -c "grep {{ ansible_user_id }} /etc/passwd | grep -o '[^:]*$'"
  register: user_shell
  changed_when: user_shell.rc < 0

- name: '[Zsh] Update shell to Zsh'
  become: true
  become_user: root
  ansible.builtin.command: chsh -s /bin/zsh {{ ansible_user_id }}
  changed_when: user_shell.stdout != '/bin/zsh'
  when: user_shell.stdout != '/bin/zsh'

- name: '[Zsh] Check for Oh-My-Zsh'
  ansible.builtin.stat:
    path: $HOME/.oh-my-zsh
  register: ohmyzsh

- name: '[Zsh] Install Oh-My-Zsh'
  ansible.builtin.shell: sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)" "" --unattended
  changed_when: not ohmyzsh.stat.exists
  when: not ohmyzsh.stat.exists

- name: "[Zsh] Plugins install/update"
  ansible.builtin.git:
    repo: "{{ item.value }}"
    dest: "{{ omz_home }}/custom/plugins/{{ item.key }}"
  loop: "{{ omz_plugins | dict2items }}"

- name: "[Zsh][P10k] Get Github URL for proper version"
  vars:
    app: p10k
    repo: romkatv/powerlevel10k
    version_query: curl -s https://api.github.com/repos/romkatv/powerlevel10k/releases/latest  | jq .name -r | cut -f2 -d'v'
  ansible.builtin.include_role:
    name: common
    tasks_from: github_version.yml
    apply:
      tags:
        - versions
  tags:
    - versions

- name: "[p10k] Save used version"
  vars:
    app: p10k
    target_version:
      github_packages:
        p10k: "{{ p10k_version }}"
    query: ".github_packages.p10k = \"{{ p10k_version }}\""
  ansible.builtin.include_role:
    name: common
    tasks_from: save_version.yml
    apply:
      tags:
        - versions
  tags:
    - versions

- name: '[Zsh][P10k] Clone powerlevel10k'
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ omz_home }}/custom/themes/powerlevel10k"
    version: "v{{ p10k_version }}"
    depth: 1
