# Configuration file options
# Reference=http://sdkman.io/usage (Configuration section)
sdkman_auto_answer=false
sdkman_selfupdate_enable=false
sdkman_insecure_ssl=false
sdkman_disable_gvm_alias=false
sdkman_curl_connect_timeout=7
sdkman_curl_max_time=10
sdkman_beta_channel=false
sdkman_debug_mode=false
sdkman_colour_enable=true